.page-blog {
  position: relative;
  // overflow: hidden;

  .page-bg {
    position: absolute;
    z-index: -1000;
    top: -150px;
    width: 100%;
    // max-height: 500px;
  }

  .hero {
    height: 60vh;
    min-height: 400px;
    font-size: 1rem;

    .text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .headline {
        font-size: 4em;
        font-family: $serif;
        font-weight: 500;
        color: $blue;
        line-height: 1.3;
        margin-bottom: 35px;
      }

      .description {
        color: $black;
        max-width: 55%;
        line-height: 1.8;
      }
    }
  }

  .articles {
    padding-top: 30px;
    margin-top: -30px;
  }
}

@media (max-width: $desktop) {
  .page-blog {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: -80px;

    .page-bg {
      top: -80px;
      min-height: 800px;
      transform: scaleX(2);
    }

    .hero {
      margin-top: 80px;

      .text {
        .description {
          max-width: 65%;
        }
      }
    }
  }
}

@media (max-width: $tablet-lg) {
  .page-blog {
    .hero {
      min-height: 500px;
      font-size: 0.9rem;

      .text {
        .description {
          max-width: 85%;
          font-size: 1.2em;
        }
      }
    }

    .blog-cta {
      margin-top: 100px;
      margin-bottom: 0px;
    }
  }
}

@media (max-width: $tablet-sm) {
  .page-blog {
    .hero {
      min-height: 400px;
      height: 200px;
      margin-bottom: 50px;
      font-size: 1.6vw;

      .text {
        .description {
          font-size: 1.6em;
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .page-blog {
    .page-bg {
      top: -90px;
    }

    .hero {
      min-height: 290px;
      font-size: 0.55rem;
      padding-top: 20px;

      .text {
        .headline {
          max-width: 80%;
          margin-bottom: 15px;
        }

        .description {
          font-size: 1.8em;
        }
      }
    }
  }
}
