.page-contact {
  margin-bottom: 80px;
  position: relative;

  .page-bg {
    position: absolute;
    z-index: -1000;
    top: -180px;
    width: 100%;
    // max-height: 500px;
  }
}

@media (max-width: $desktop) {
  .page-contact {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: 0px;

    .page-wrapper {
      section {
        margin-top: 140px;
        margin-bottom: 140px;
      }
    }

    .page-bg {
      top: -80px;
      min-height: 800px;
      transform: scaleX(2);
    }
  }
}

@media (max-width: $mobile) {
  .page-contact {
    .page-bg {
      top: -90px;
    }
  }
}
