/* MAIN STYLES FILE */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:200,300,400,500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif, "Libre Baskerville", serif;
  font-size: 16px;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1450px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 80px;
}

header nav {
  height: 100%;
  position: relative;
  z-index: 10;
}

header nav .wrapper {
  max-width: 1400px;
  margin: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .wrapper .logo {
  -ms-grid-column-align: start;
      justify-self: start;
}

header nav .wrapper .logo .logo-dark {
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header nav .wrapper .logo .logo-white {
  display: none;
}

header nav .wrapper .sidebar-icon {
  display: none;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 35px;
  cursor: pointer;
}

header nav .wrapper .sidebar-icon svg path {
  color: #11638c;
}

header nav .wrapper .links-wrapper {
  -ms-grid-column-align: end;
      justify-self: end;
  height: 100%;
}

header nav .wrapper .links-wrapper .links {
  height: 100%;
}

header nav .wrapper .links-wrapper .links .single-link {
  font-size: 0.9rem;
  color: #11638c;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: relative;
}

header nav .wrapper .links-wrapper .links .single-link:hover a {
  color: #6a6770;
}

header nav .wrapper .links-wrapper .links .cta {
  margin-right: 0;
}

header nav .wrapper .links-wrapper .links .cta a {
  border: 1px solid #11638c;
  padding: 10px 10px;
  color: #11638c;
}

header nav .wrapper .links-wrapper .links .cta:hover a {
  color: #f1f1f1;
  background-color: #11638c;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: #ffca3a;
}

.sticky .wrapper .logo svg {
  height: 50px;
}

.sticky .wrapper .links-wrapper .links .transparent-button {
  top: 37%;
}

@media (max-width: 1450px) {
  header nav .wrapper {
    margin: 0 5%;
  }
}

@media (max-width: 850px) {
  header {
    height: 80px;
  }
  header nav {
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
  }
  header nav .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  header nav .wrapper .logo .logo-dark {
    height: 30px;
  }
  header nav .wrapper .sidebar-icon {
    display: inline-block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  header nav .wrapper .links-wrapper,
  header nav .wrapper .cta {
    display: none;
  }
}

.SideMenu {
  position: absolute;
  background-color: #ffca3a;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.SideMenu .close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.4rem;
  cursor: pointer;
}

.SideMenu .close-btn path {
  color: #11638c;
}

.SideMenu .links-wrapper {
  text-align: center;
  height: 100%;
}

.SideMenu .links-wrapper .links {
  color: #11638c;
  margin-bottom: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.SideMenu .links-wrapper .links .single-link {
  padding: 10px 12%;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.SideMenu .links-wrapper .links .single-link:not(:last-of-type):after {
  content: "";
  top: -5px;
  width: 20%;
  height: 30px;
  background-color: #11638c;
  position: absolute;
  opacity: 0;
  z-index: -2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: sideMenuAnimation 2s ease-out infinite alternate;
          animation: sideMenuAnimation 2s ease-out infinite alternate;
}

.SideMenu .links-wrapper .links .single-link:hover:after {
  opacity: 0.1;
}

@-webkit-keyframes sideMenuAnimation {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@keyframes sideMenuAnimation {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

.SideMenu .links-wrapper .cta {
  margin-top: 20px;
  display: inline-block;
  padding: 0 !important;
}

.SideMenu .links-wrapper .cta a {
  border: 1px solid #11638c;
  padding: 10px 10px;
  color: #11638c;
}

.SideMenu .links-wrapper .cta:hover a {
  color: #f1f1f1;
  background-color: #11638c;
}

.SideMenu-overlay {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100% !important;
  min-width: 100% !important;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.show-SideMenu {
  left: -100%;
}

.hide-SideMenu {
  left: 0;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 850px) {
  .SideMenu {
    font-size: 18px;
  }
}

.btn {
  background-color: #11638c;
  border: 1px solid #11638c;
  color: #f1f1f1;
  padding: 15px 20px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn:hover {
  background-color: transparent;
  color: #11638c;
  border: 1px solid #11638c;
}

.btn-bordered {
  background-color: transparent;
  color: #11638c;
}

.btn-bordered:hover {
  background-color: #11638c;
  color: #f1f1f1;
}

.project-card {
  height: 650px;
  background-color: #fff1cb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
  margin: 80px 0;
}

.project-card .details {
  color: #11638c;
  max-width: 70%;
  margin-bottom: 15px;
  margin-left: 12%;
}

.project-card .details .tags {
  display: inline-block;
  margin-bottom: 15px;
}

.project-card .details .tags ul {
  border: 1px solid #11638c;
  border-radius: 3px;
  padding: 4px;
  padding-left: 18px;
  padding-right: 8px;
  position: relative;
}

.project-card .details .tags ul::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: #11638c;
  position: absolute;
  top: 0;
  left: 0;
}

.project-card .details .tags ul li {
  font-size: 0.9em;
  display: inline-block;
  margin-left: 5px;
}

.project-card .details .tags ul li:first-of-type {
  margin-left: 0;
}

.project-card .details .project-title {
  font-size: 3em;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.project-card .details .project-description {
  font-weight: 400;
  color: #17283c;
  line-height: 1.7;
  margin-bottom: 50px;
}

.project-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.project-card:first-of-type {
  margin-top: 20px;
}

.project-card:last-of-type {
  margin-bottom: 20px;
}

.project-card:nth-of-type(3n + 1) {
  background-color: #ffd9db;
}

.project-card:nth-of-type(3n + 2) {
  background-color: #fff1cb;
}

.project-card:nth-of-type(3n + 3) {
  background-color: #d9f2ff;
}

.project-card:nth-of-type(even) .details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.project-card:nth-of-type(even) img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media (max-width: 1200px) {
  .project-card {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .project-card {
    height: 800px;
    width: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .project-card .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 75%;
  }
  .project-card:nth-of-type(even) .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 75%;
  }
  .project-card:nth-of-type(even) img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.quote {
  margin: 70px auto;
}

.quote .quote-card {
  margin: 0px 200px;
  min-height: 220px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 1fr;
      grid-template-columns: 0.6fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  color: #17283c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 30px 0;
}

.quote .quote-card .background {
  position: absolute;
  background-color: #ffe59f;
  width: 80%;
  height: 100%;
  right: 0;
  z-index: -2;
}

.quote .quote-card .headline {
  font-size: 2em;
  font-family: "Libre Baskerville", serif;
  line-height: 1.4;
}

.quote .quote-card .headline span {
  display: block;
}

.quote .quote-card .body {
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 60px;
}

@media (max-width: 1450px) {
  .quote .quote-card .background {
    height: 85%;
  }
}

@media (max-width: 1200px) {
  .quote .quote-card {
    margin: 0px 100px;
    padding: 40px 0;
  }
  .quote .quote-card .headline {
    font-size: 1.8em;
  }
}

@media (max-width: 850px) {
  .quote {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 50px;
  }
  .quote .quote-card {
    margin: unset;
    height: unset;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 1fr;
        grid-template-rows: 0.5fr 1fr;
    row-gap: 30px;
    font-size: 1.2em;
    padding-bottom: 20px;
  }
  .quote .quote-card .background {
    width: 100%;
    height: 78%;
    bottom: 0;
  }
  .quote .quote-card .headline {
    -ms-grid-column-align: center;
        justify-self: center;
    padding-left: 20px;
    padding-right: 60px;
  }
  .quote .quote-card .headline span {
    display: inline;
  }
  .quote .quote-card .body {
    font-size: 1em;
    line-height: 1.6;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.blog-cta {
  margin: 150px auto;
}

.blog-cta .card-inner {
  margin: 0px 200px;
  min-height: 340px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.6fr;
      grid-template-columns: 1fr 0.6fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  color: #17283c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blog-cta .card-inner .background {
  position: absolute;
  background-color: #d9f2ff;
  width: 80%;
  height: 70%;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.blog-cta .card-inner .headline {
  font-size: 1.6em;
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  max-width: 350px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto 0 50px 50px;
}

.blog-cta .card-inner .headline p {
  margin-bottom: 30px;
}

.blog-cta .card-inner .headline .btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.blog-cta .card-inner img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: end;
      justify-self: end;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 250px;
  width: 450px;
  border: 7px solid #11638c;
}

@media (max-width: 1200px) {
  .blog-cta {
    margin: 0px 100px;
    padding: 40px 0;
  }
  .blog-cta .card-inner {
    margin: unset;
  }
  .blog-cta .card-inner .headline {
    font-size: 1.7em;
  }
  .blog-cta .card-inner .headline .btn {
    font-size: 14px;
  }
  .blog-cta .card-inner img {
    height: 220px;
    width: 400px;
  }
}

@media (max-width: 850px) {
  .blog-cta {
    margin-right: 5%;
    margin-left: 5%;
    font-size: 1rem;
    padding: 0;
  }
  .blog-cta .card-inner {
    margin: unset;
    height: unset;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    font-size: 1.2em;
    padding-bottom: 0px;
  }
  .blog-cta .card-inner .headline {
    margin: unset;
    max-width: unset;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding-left: 20px;
    padding-right: 60px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.4em;
  }
  .blog-cta .card-inner .headline p {
    margin-bottom: 20px;
  }
  .blog-cta .card-inner img {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .blog-cta .card-inner .background {
    width: 100%;
    bottom: 60px;
  }
}

@media (max-width: 500px) {
  .blog-cta .card-inner .background {
    bottom: 10px;
  }
}

.blog-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 1fr;
      grid-template-columns: 0.6fr 1fr;
  min-height: 300px;
  background-color: #ffd9db;
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
  margin: 80px 0;
}

.blog-card .details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 30px 50px;
  margin-bottom: 15px;
}

.blog-card .details .date {
  color: #17283c;
  display: block;
  margin-bottom: 10px;
}

.blog-card .details .title {
  color: #11638c;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 50px;
}

.blog-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card:first-of-type {
  margin-top: 20px;
}

.blog-card:last-of-type {
  margin-bottom: 20px;
}

.blog-card:nth-of-type(3n + 1) {
  background-color: #ffd9db;
}

.blog-card:nth-of-type(3n + 2) {
  background-color: #fff1cb;
}

.blog-card:nth-of-type(3n + 3) {
  background-color: #d9f2ff;
}

.blog-card:nth-of-type(even) {
  -ms-grid-columns: 1fr 0.6fr;
      grid-template-columns: 1fr 0.6fr;
}

.blog-card:nth-of-type(even) .details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.blog-card:nth-of-type(even) img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media (max-width: 850px) {
  .blog-card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.6fr;
        grid-template-rows: 1fr 0.6fr;
  }
  .blog-card .details {
    padding-left: 30px;
    padding-right: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .blog-card img {
    min-height: 250px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .blog-card:nth-of-type(even) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.6fr;
        grid-template-rows: 1fr 0.6fr;
  }
  .blog-card:nth-of-type(even) .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .blog-card:nth-of-type(even) img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.social-section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.social-section .social-inner {
  max-width: 1050px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.social-section .social-inner .social-card {
  background-color: #ffca3a;
  color: #17283c;
  font-size: 0.95em;
  height: 490px;
  position: relative;
  -webkit-box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.4);
}

.social-section .social-inner .social-card:first-of-type {
  background-color: #11638c;
  color: #f1f1f1;
  position: relative;
  left: 20px;
  top: 50px;
}

.social-section .social-inner .social-card:first-of-type .link-to-profile {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-section .social-inner .social-card:first-of-type .link-to-profile:after {
  background-color: #f1f1f1 !important;
}

.social-section .social-inner .social-card:last-of-type {
  background-color: #17283c;
  color: #f1f1f1;
  position: relative;
  right: 20px;
  top: 30px;
}

.social-section .social-inner .social-card:last-of-type .link-to-profile {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-section .social-inner .social-card:last-of-type .link-to-profile:after {
  background-color: #f1f1f1 !important;
}

.social-section .social-inner .social-card .card-inner {
  top: 47%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 20%;
}

.social-section .social-inner .social-card .card-inner .icon {
  text-align: center;
  margin-bottom: 30px;
}

.social-section .social-inner .social-card .card-inner .icon svg {
  font-size: 3.2em;
}

.social-section .social-inner .social-card .card-inner .body {
  margin-bottom: 30px;
  line-height: 1.4;
}

.social-section .social-inner .social-card .card-inner .link-to-profile {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-section .social-inner .social-card .card-inner .link-to-profile:after {
  content: "";
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  top: -8px;
  width: 100%;
  height: 30px;
  background-color: #17283c;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: afterAnimation 2s ease-out infinite alternate;
          animation: afterAnimation 2s ease-out infinite alternate;
}

.social-section .social-inner .social-card .card-inner .link-to-profile:hover:after {
  opacity: 0.2;
}

@-webkit-keyframes afterAnimation {
  from {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  to {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}

@keyframes afterAnimation {
  from {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  to {
    -webkit-transform: translateX(-85%);
            transform: translateX(-85%);
  }
}

@media (max-width: 1200px) {
  .social-section .social-inner .social-card {
    height: 40vw;
  }
}

@media (max-width: 850px) {
  .social-section {
    margin-bottom: 0;
    margin-top: 100px;
  }
  .social-section .social-inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .social-section .social-inner .social-card {
    -webkit-box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.25);
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    font-size: 1.15em;
    min-height: 360px;
    height: unset;
  }
}

.get-in-touch {
  margin: 130px 0;
  margin-top: 220px;
}

.get-in-touch a.inner {
  text-align: center;
  color: #17283c;
}

.get-in-touch a.inner p {
  margin-bottom: 20px;
}

.get-in-touch a.inner h2 {
  color: #11638c;
  font-size: 5em;
  font-weight: 300;
  font-family: "Libre Baskerville", serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.get-in-touch a.inner:hover h2 {
  text-transform: lowercase;
  font-style: italic;
}

@media (max-width: 850px) {
  .get-in-touch {
    margin: 100px 0;
  }
  .get-in-touch a.inner h2 {
    font-size: 4em;
  }
}

@media (max-width: 500px) {
  .get-in-touch a.inner h2 {
    font-size: 3em;
  }
}

.pagination {
  height: 40px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pagination .wrapper {
  position: relative;
  height: 100%;
}

.pagination .wrapper .disabled {
  display: none;
}

.pagination .wrapper .nav-btn:hover {
  color: #11638c;
}

.pagination .wrapper .prev {
  margin-right: 15px;
}

.pagination .wrapper .next {
  margin-left: 15px;
}

.pagination .wrapper .pages {
  display: inline-block;
  list-style-type: none;
  height: 100%;
}

.pagination .wrapper .pages a {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  width: 40px;
  margin-right: 10px;
}

.pagination .wrapper .pages a.current-page {
  background-color: #17283c;
  color: #f1f1f1;
}

.pagination .wrapper .pages a:not(.current-page):hover {
  background-color: #17283c;
  color: #f1f1f1;
  opacity: 0.7;
}

.contact-form {
  margin: 80px auto;
  max-width: 800px;
}

.contact-form .contact2-form-title {
  color: #11638c;
  font-size: 5em;
  font-weight: 300;
  font-family: "Libre Baskerville", serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 50px;
}

.contact-form .btn {
  min-width: 120px;
}

.contact-form input {
  outline: none;
  border: none;
  background-color: transparent;
}

.contact-form textarea {
  background-color: transparent;
  outline: none;
  border: none;
  max-width: 100%;
  min-width: 100%;
}

.contact-form textarea:focus,
.contact-form input:focus {
  border-color: transparent !important;
}

.contact-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form input:focus:-moz-placeholder {
  color: transparent;
}

.contact-form input:focus::-moz-placeholder {
  color: transparent;
}

.contact-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form textarea:focus:-moz-placeholder {
  color: transparent;
}

.contact-form textarea:focus::-moz-placeholder {
  color: transparent;
}

.contact-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form input::-webkit-input-placeholder {
  color: #999999;
}

.contact-form input:-moz-placeholder {
  color: #999999;
}

.contact-form input::-moz-placeholder {
  color: #999999;
}

.contact-form input:-ms-input-placeholder {
  color: #999999;
}

.contact-form textarea::-webkit-input-placeholder {
  color: #999999;
}

.contact-form textarea:-moz-placeholder {
  color: #999999;
}

.contact-form textarea::-moz-placeholder {
  color: #999999;
}

.contact-form textarea:-ms-input-placeholder {
  color: #999999;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #db1563;
  background: linear-gradient(45deg, #11638c, #17283c);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

@media (max-width: 850px) {
  .contact-form .contact2-form-title {
    font-size: 4em;
  }
}

footer {
  background-color: #ffca3a;
  height: 80px;
}

footer .footer-inner {
  font-size: 0.9em;
  color: #17283c;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-inner .details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

footer .footer-inner .details span {
  margin-right: 5px;
}

footer .footer-inner .logo {
  height: 40px;
}

@media (max-width: 850px) {
  footer {
    height: unset;
  }
  footer .footer-inner {
    display: block;
    text-align: center;
    padding: 40px 0;
  }
  footer .footer-inner img {
    margin-bottom: 25px;
  }
  footer .footer-inner .details {
    font-size: 1.2em;
    font-weight: 300;
  }
  footer .footer-inner .details span {
    display: block;
    margin-top: 8px;
  }
  footer .footer-inner .details span.seperator {
    display: none;
  }
}

.page-homepage {
  position: relative;
}

.page-homepage .hero-background {
  position: absolute;
  z-index: -1000;
  right: 0;
  top: -80px;
  max-height: 90vh;
  min-height: 820px;
  width: auto;
}

.page-homepage .bg-color {
  width: 100%;
  height: calc(100vh + 100px);
  min-height: 1000px;
  position: absolute;
  z-index: -1001;
  right: 0;
  top: -80px;
  background-color: #f1f1f1;
}

.page-homepage .hero {
  height: calc(100vh - 80px);
  min-height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-homepage .hero .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Montserrat", sans-serif;
}

.page-homepage .hero .text .author-name {
  font-size: 1.8em;
  color: #11638c;
  font-weight: 300;
  letter-spacing: -2px;
  padding-left: 2px;
}

.page-homepage .hero .text .headline {
  font-family: "Libre Baskerville", serif;
  line-height: 1.05;
  font-size: 5.5em;
  color: #11638c;
  font-weight: 500;
  text-transform: uppercase;
  margin: 12px 0 25px 0;
}

.page-homepage .hero .text .description {
  width: 80%;
  font-size: 1.2em;
  font-weight: 300;
  color: #17283c;
  line-height: 1.5;
  padding-left: 5px;
}

.page-homepage .hero .text .mouse-icon {
  position: relative;
  margin-top: 150px;
  padding-left: 10px;
  width: 25px;
  font-size: 1.7em;
  cursor: pointer;
}

.page-homepage .hero .hero-illustration {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 500px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.page-homepage section.projects {
  padding-top: 50px;
  margin-top: -50px;
}

.page-homepage section.projects .btn-wrapper {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

@media (max-width: 1450px) {
  .page-homepage .hero .text .headline {
    font-size: 4.6em;
  }
  .page-homepage .hero .text .description {
    width: 100%;
  }
  .page-homepage .hero .hero-illustration {
    width: 400px;
    margin-top: -50px;
  }
}

@media (max-width: 1200px) {
  .page-homepage .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .page-homepage .hero .text {
    max-width: 80%;
  }
  .page-homepage .hero .text .headline {
    font-size: 5.5em;
  }
  .page-homepage .hero .hero-illustration {
    display: none;
  }
}

@media (max-width: 850px) {
  .page-homepage .hero-background {
    min-height: unset;
  }
  .page-homepage .hero {
    height: unset;
    min-height: unset;
  }
  .page-homepage .hero .text {
    max-width: 90%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 80px;
    margin-bottom: 120px;
  }
  .page-homepage .hero .text .headline {
    font-size: 10vw;
    margin: 10px 0 15px 0;
  }
  .page-homepage .hero .text .mouse-icon {
    margin-top: 90px;
  }
  .page-homepage section.projects .btn-wrapper {
    margin-bottom: 80px;
  }
}

@media (max-width: 500px) {
  .page-homepage .hero-background {
    height: 420px;
  }
  .page-homepage .hero .text .author-name {
    font-size: 1.6em;
  }
  .page-homepage .hero .text .headline {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 20px;
  }
  .page-homepage .hero .text .description {
    max-width: 100%;
  }
}

.page-work {
  position: relative;
}

.page-work .page-bg {
  position: absolute;
  z-index: -1000;
  top: -150px;
  width: 100%;
}

.page-work .hero {
  height: 60vh;
  min-height: 400px;
  font-size: 1rem;
}

.page-work .hero .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-work .hero .text .headline {
  font-size: 4em;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  color: #11638c;
  line-height: 1.3;
  margin-bottom: 35px;
}

.page-work .hero .text .description {
  color: #17283c;
  max-width: 55%;
  line-height: 1.8;
}

@media (max-width: 1450px) {
  .page-work {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: -80px;
  }
  .page-work .page-bg {
    top: -80px;
    min-height: 800px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  .page-work .hero {
    margin-top: 80px;
  }
  .page-work .hero .text .description {
    max-width: 65%;
  }
}

@media (max-width: 1200px) {
  .page-work .hero {
    min-height: 500px;
    font-size: 0.9rem;
  }
  .page-work .hero .text .description {
    max-width: 85%;
    font-size: 1.2em;
  }
  .page-work .blog-cta {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

@media (max-width: 850px) {
  .page-work .hero {
    min-height: 400px;
    height: 200px;
    margin-bottom: 50px;
    font-size: 1.6vw;
  }
  .page-work .hero .text .description {
    font-size: 1.6em;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .page-work .page-bg {
    top: -90px;
  }
  .page-work .hero {
    min-height: 380px;
    font-size: 0.55rem;
    padding-top: 20px;
  }
  .page-work .hero .text .headline {
    max-width: 80%;
    margin-bottom: 15px;
  }
  .page-work .hero .text .description {
    font-size: 1.8em;
  }
}

.page-blog {
  position: relative;
}

.page-blog .page-bg {
  position: absolute;
  z-index: -1000;
  top: -150px;
  width: 100%;
}

.page-blog .hero {
  height: 60vh;
  min-height: 400px;
  font-size: 1rem;
}

.page-blog .hero .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-blog .hero .text .headline {
  font-size: 4em;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  color: #11638c;
  line-height: 1.3;
  margin-bottom: 35px;
}

.page-blog .hero .text .description {
  color: #17283c;
  max-width: 55%;
  line-height: 1.8;
}

.page-blog .articles {
  padding-top: 30px;
  margin-top: -30px;
}

@media (max-width: 1450px) {
  .page-blog {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: -80px;
  }
  .page-blog .page-bg {
    top: -80px;
    min-height: 800px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  .page-blog .hero {
    margin-top: 80px;
  }
  .page-blog .hero .text .description {
    max-width: 65%;
  }
}

@media (max-width: 1200px) {
  .page-blog .hero {
    min-height: 500px;
    font-size: 0.9rem;
  }
  .page-blog .hero .text .description {
    max-width: 85%;
    font-size: 1.2em;
  }
  .page-blog .blog-cta {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

@media (max-width: 850px) {
  .page-blog .hero {
    min-height: 400px;
    height: 200px;
    margin-bottom: 50px;
    font-size: 1.6vw;
  }
  .page-blog .hero .text .description {
    font-size: 1.6em;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .page-blog .page-bg {
    top: -90px;
  }
  .page-blog .hero {
    min-height: 290px;
    font-size: 0.55rem;
    padding-top: 20px;
  }
  .page-blog .hero .text .headline {
    max-width: 80%;
    margin-bottom: 15px;
  }
  .page-blog .hero .text .description {
    font-size: 1.8em;
  }
}

.page-contact {
  margin-bottom: 80px;
  position: relative;
}

.page-contact .page-bg {
  position: absolute;
  z-index: -1000;
  top: -180px;
  width: 100%;
}

@media (max-width: 1450px) {
  .page-contact {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: 0px;
  }
  .page-contact .page-wrapper section {
    margin-top: 140px;
    margin-bottom: 140px;
  }
  .page-contact .page-bg {
    top: -80px;
    min-height: 800px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
}

@media (max-width: 500px) {
  .page-contact .page-bg {
    top: -90px;
  }
}

.page-contact-success {
  margin-bottom: 80px;
  position: relative;
}

.page-contact-success .page-bg {
  position: absolute;
  z-index: -1000;
  top: -180px;
  width: 100%;
}

.page-contact-success .page-wrapper section {
  text-align: center;
}

.page-contact-success .page-wrapper section h1 {
  font-family: "Libre Baskerville", serif;
  color: #11638c;
  font-size: 3.5em;
  font-weight: 300;
  font-family: "Libre Baskerville", serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 80px;
  margin-bottom: 50px;
  line-height: 1.3;
}

.page-contact-success .page-wrapper section h2,
.page-contact-success .page-wrapper section h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.page-contact-success .page-wrapper section h3 {
  font-weight: 300;
}

.page-contact-success .page-wrapper section h3 svg {
  position: relative;
  top: 2px;
}

@media (max-width: 1450px) {
  .page-contact-success {
    overflow-x: hidden;
    top: -80px;
    margin-bottom: 0px;
  }
  .page-contact-success .page-wrapper section {
    margin-top: 140px;
    margin-bottom: 140px;
  }
  .page-contact-success .page-bg {
    top: -80px;
    min-height: 800px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
}

@media (max-width: 500px) {
  .page-contact-success .page-bg {
    top: -90px;
  }
}

section {
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 1450px) {
  section {
    margin-right: 5%;
    margin-left: 5%;
  }
}
