.get-in-touch {
  margin: 130px 0;
  margin-top: 220px;

  a.inner {
    text-align: center;
    color: $black;

    p {
      margin-bottom: 20px;
    }

    h2 {
      color: $blue;
      font-size: 5em;
      font-weight: 300;
      font-family: $serif;
      @include transition;
    }

    &:hover h2 {
      text-transform: lowercase;
      font-style: italic;
    }
  }
}

@media (max-width: $tablet-sm) {
  .get-in-touch {
    margin: 100px 0;
    a.inner {
      h2 {
        font-size: 4em;
      }
    }
  }
}

@media (max-width: $mobile) {
  .get-in-touch {
    a.inner {
      h2 {
        font-size: 3em;
      }
    }
  }
}
