footer {
  background-color: $yellow;
  height: 80px;

  .footer-inner {
    font-size: 0.9em;
    color: $black;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;

    .details {
      grid-column: 1/2;
      grid-row: 1/2;

      span {
        margin-right: 5px;
      }
    }

    .logo {
      height: 40px;
    }
  }
}

@media (max-width: $tablet-sm) {
  footer {
    height: unset;

    .footer-inner {
      display: block;
      text-align: center;
      padding: 40px 0;

      img {
        margin-bottom: 25px;
      }

      .details {
        font-size: 1.2em;
        font-weight: 300;

        span {
          display: block;
          margin-top: 8px;

          &.seperator {
            display: none;
          }
        }
      }
    }
  }
}
