header {
  height: 80px;
  // background-color: $white;

  nav {
    // background-color: $white;
    height: 100%;
    position: relative;
    z-index: 10;

    .wrapper {
      @include sides-margin;
      height: 100%;
      display: grid;
      grid-template-columns: 150px 1fr;
      align-items: center;

      .logo {
        justify-self: start;

        .logo-dark {
          height: 40px;
          @include transition;
        }

        .logo-white {
          display: none;
        }
      }

      .sidebar-icon {
        display: none;
        justify-self: end;
        font-size: 35px;
        cursor: pointer;

        svg {
          path {
            color: $blue;
          }
        }
      }

      .links-wrapper {
        justify-self: end;
        height: 100%;

        .links {
          height: 100%;

          .single-link {
            font-size: 0.9rem;
            color: $blue;
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            transform: translateY(-50%);
            top: 50%;
            position: relative;

            &:hover a {
              color: #6a6770;
            }
          }

          .cta {
            margin-right: 0;

            a {
              border: 1px solid $blue;
              padding: 10px 10px;
              color: $blue;
            }

            &:hover a {
              color: $white;
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  background-color: $yellow;

  .wrapper {
    .logo {
      svg {
        height: 50px;
      }
    }

    .links-wrapper {
      .links {
        .transparent-button {
          top: 37%;
        }
      }
    }
  }
}

@media (max-width: $desktop) {
  header {
    nav {
      .wrapper {
        margin: 0 5%;
      }
    }
  }
}

@media (max-width: $tablet-sm) {
  header {
    height: 80px;

    nav {
      top: 0;
      width: 100%;
      height: 80px;
      z-index: 10;

      .wrapper {
        grid-template-columns: 1fr 1fr;

        .logo {
          .logo-dark {
            display: none;
          }

          .logo-white {
            display: inline-block;
            height: 30px;
          }
        }

        .sidebar-icon {
          display: inline-block;
          grid-column: 2/3;

          svg {
            path {
              fill: $white;
            }
          }
        }

        .links-wrapper,
        .cta {
          display: none;
        }
      }
    }
  }
}
