.project-card {
  height: 650px;
  background-color: #fff1cb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.25);
  margin: 80px 0;

  .details {
    color: $blue;
    max-width: 70%;
    margin-bottom: 15px;
    margin-left: 12%;

    .tags {
      display: inline-block;
      margin-bottom: 15px;

      ul {
        border: 1px solid $blue;
        border-radius: 3px;
        padding: 4px;
        padding-left: 18px;
        padding-right: 8px;
        position: relative;

        &::before {
          content: "";
          width: 10px;
          height: 100%;
          background-color: $blue;
          position: absolute;
          top: 0;
          left: 0;
        }

        li {
          font-size: 0.9em;
          display: inline-block;
          margin-left: 5px;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    .project-title {
      font-size: 3em;
      font-weight: 500;
      font-family: $serif;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .project-description {
      font-weight: 400;
      color: $black;
      line-height: 1.7;
      margin-bottom: 50px;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.project-card:first-of-type {
  margin-top: 20px;
}

.project-card:last-of-type {
  margin-bottom: 20px;
}

.project-card:nth-of-type(3n + 1) {
  background-color: #ffd9db;
}

.project-card:nth-of-type(3n + 2) {
  background-color: #fff1cb;
}

.project-card:nth-of-type(3n + 3) {
  background-color: #d9f2ff;
}

.project-card:nth-of-type(even) {
  .details {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media (max-width: $tablet-lg) {
  .project-card {
    height: 500px;
  }
}

@media (max-width: $tablet-sm) {
  .project-card {
    height: 800px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

    .details {
      grid-column: 1/2;
      grid-row: 2/3;
      max-width: 75%;
    }

    &:nth-of-type(even) {
      .details {
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: 75%;
      }

      img {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
  }
}

@media (max-width: $mobile) {
  .project-card {
    min-height: 800px;
    height: unset;

    .details {
      margin-top: 30px;
      margin-bottom: 60px;

      .project-title {
        font-size: 2.5em;
        line-height: 1.1;
      }
    }
  }
}
